<div class="relative w-full  bg-white/70 backdrop-blur-sm" style="background-image: url('assets/images/back.jpg'); background-size: cover;">
    <div dir="rtl" class="  py-12 px-4 sm:px-6 lg:px-8 font-[Tajawal] mx-auto bg-white/50">
    <div dir="ltr" class="flex flex-col md:flex-row justify-center items-center md:justify-between mb-10">
        <!-- À gauche : infos année scolaire -->
        <div class="md:order-2 text-right text-xl text-black leading-relaxed">
          <div>السنة الدراسية: ....هـ/14....هـ</div>
          <div>الموافق لـ: ....م/20....م</div>
        </div>
      
        <!-- Centre : Bismillah -->
        <div  class="md:order-2 order-first text-center flex-1 text-4xl font-semibold text-black amiri-bold">
          <span>بــــسم الله الرحمـن الرحيـــم</span>
        </div>
      
        <!-- Logo à droite -->
        <div class="w-20 h-20 md:order-2">
          <img src="assets/images/logo.jpg" alt="Logo" class="w-full h-full object-contain rounded-full border border-emerald-400 shadow-md" />
        </div>
      </div>
    <div class="max-w-4xl mx-auto bg-white rounded-2xl shadow-2xl p-8 border border-emerald-300 animate-fade-in">
      <h1 class="text-3xl font-bold text-center text-emerald-800 mb-10 border-b-2 pb-3 border-emerald-400 animate-slide-down amiri-bold">استمارة التسجيل</h1>
  
      <form [formGroup]="etudiantForm" (ngSubmit)="inscrit()" class="space-y-8 ">
  
        <!-- معلومات الطالب -->
        <section class="animate-fade-in-up delay-100">
          <div class="flex justify-between items-end">
             <h2 class="text-xl font-semibold text-emerald-700 mb-4  pb-1 ">معلومات الطالب:</h2>
            <div class="flex md:-mt-20 ">
                <div class="relative flex items-center justify-center w-32 h-32 rounded-full overflow-hidden ring-4 ring-bg-card bg-white">
                    <!-- Upload / Remove avatar -->
                    <div class="absolute inset-0 bg-black bg-opacity-50 z-10"></div>
                    <div class="absolute inset-0 flex items-center justify-center z-20">
                        <div>
                            <input
                                id="avatar-file-input"
                                class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
                                type="file"
                                [multiple]="false"
                                [accept]="'image/jpeg, image/png'"
                                capture="environment"
                                (change)="onPhotoTaken($event)"
                                #avatarFileInput>
                            <label
                                class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-green-400"
                                for="avatar-file-input"
                                matRipple>
                                <mat-icon
                                    class="text-white"
                                    [svgIcon]="'heroicons_outline:camera'"></mat-icon>
                            </label>
                        </div>
                        <div>
                            <button
                                mat-icon-button
                                (click)="onPhotoTaken($event)">
                                <mat-icon
                                    class="text-white"
                                    [svgIcon]="'heroicons_outline:trash'"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <!-- Image/Letter -->
                    <img
                        class="object-cover w-full h-full"
                        *ngIf="etudiantForm.get('photoUrl')?.value"
                        [src]="">
                    
                </div>
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label class="block mb-1">اللقب (بالعربية)</label>
              <input type="text" formControlName="nomAr" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            </div>
            <div>
                <label class="block mb-1"> الاسم (بالعربية)</label>
                <input type="text" formControlName="prenomAr" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            </div>
            <div>
                <label class="block mb-1"> اللقب (بالفرنسية)</label>
                <input type="text" formControlName="nom" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
              </div>
              <div>
                  <label class="block mb-1"> الاسم (بالفرنسية)</label>
                  <input type="text" formControlName="prenom" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
              </div>
            <div>
              <label class="block mb-1">العنوان</label>
              <input type="text" formControlName="adresse" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            </div>
            <div>
              <label class="block mb-1">تاريخ الميلاد</label>
              <input type="date" formControlName="dateNaissance" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            </div>
            <div>
                <label class="block mb-1">مكان الميلاد</label>
                <input type="text" formControlName="lieuNaissance" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
              </div>
              <div>
                <label class="block mb-1">الجنس</label>
                <select
                  [(ngModel)]="selectedNiveauId"
                  class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm"
                >
                  <option class="text-lg "  [value]="1">
                    ذكر
                  </option>
                  <option class="text-lg "  [value]="2">
                    أنثى
                  </option>
                </select>
              </div>

              <div>
                <label class="block mb-1">المستوى الدراسي</label>
                <select
                  class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm"
                  formControlName="niveauEtude"
                >
                  <option class="text-lg reem-kufi" *ngFor="let niveau of niveauEtudes" [value]="niveau.id">
                    {{ niveau.labelAr }}
                  </option>
                </select>
              </div>

          </div>
        </section>
  
        <!-- الحالة الصحية -->
        <section class="animate-fade-in-up delay-200">
          <h2 class="text-xl font-semibold text-emerald-700 mb-4 border-b border-emerald-300 pb-1">الحالة الصحية:</h2>
          <div class="space-y-3">
            <label class="block mb-1 font-medium">فصيلة الدم</label>
            <select
            formControlName="groupeSanguin"
            name="groupeSanguin"
            class="w-1/4 border border-emerald-300 rounded-lg p-2 shadow-sm"
            >
            <option class="text-lg" [value]="'A+'">A+</option>
            <option class="text-lg" [value]="'A-'">A-</option>
            <option class="text-lg" [value]="'B+'">B+</option>
            <option class="text-lg" [value]="'B-'">B-</option>
            <option class="text-lg" [value]="'AB+'">AB+</option>
            <option class="text-lg" [value]="'AB-'">AB-</option>
            <option class="text-lg" [value]="'O+'">O+</option>
            <option class="text-lg" [value]="'O-'">O-</option>
            </select>
            <div>
                <label class="block mb-1">هل الطالب لديه حساسية؟</label>
                <div class="flex gap-4">
                  <label><input type="radio" formControlName="aDesAllergies" [value]="true" /> نعم</label>
                  <label><input type="radio" formControlName="aDesAllergies" [value]="false" /> لا</label>
                </div>
            </div>
            <input *ngIf="etudiantForm.get('aDesAllergies')?.value" type="text" formControlName="detailsAllergies" [value]="true" placeholder="هل لديه حساسية؟ ما نوعها؟" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            <div>
              <label class="block mb-1">هل الطالب مصاب بمرض مزمن؟</label>
              <div class="flex gap-4">
                <label><input type="radio" formControlName="aMaladiesChroniques" [value]="true" /> نعم</label>
                <label><input type="radio" formControlName="aMaladiesChroniques" [value]="false" /> لا</label>
              </div>
            </div>
            <input *ngIf="etudiantForm.get('aMaladiesChroniques')?.value" type="text" formControlName="detailsMaladiesChroniques" placeholder="اذكر المرض" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            <div>
                <label class="block mb-1">هل الطالب أجرى عملية جراحية؟</label>
                <div class="flex gap-4">
                  <label><input type="radio" formControlName="aSubiOperation" [value]="true" /> نعم</label>
                  <label><input type="radio" formControlName="aSubiOperation" [value]="false" /> لا</label>
                </div>
            </div>
            <input *ngIf="etudiantForm.get('aSubiOperation')?.value" type="text" formControlName="detailsOperations" [value]="true" placeholder="هل أجرى عملية جراحية؟ ما نوعها؟" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
          </div>
        </section>
  
        <!-- الحالة الاجتماعية -->
        <section class="animate-fade-in-up delay-300">
          <h2 class="text-xl font-semibold text-emerald-700 mb-4 border-b border-emerald-300 pb-1">الحالة الاجتماعية:</h2>
          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
              <label class="block mb-1">اسم الولي بالعربية</label>
              <input type="text" formControlName="prenomArPere"  class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            </div>
            <div>
                <label class="block mb-1">اسم الولي بالفرنسية</label>
                <input type="text" formControlName="prenomPere" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            </div>
            <div>
              <label class="block mb-1">رقم الهاتف</label>
              <input type="text" formControlName="telephone" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            </div>
            <br>
            <div>
              <label class="block mb-1">هل الأب متوفي؟</label>
              <div class="flex gap-4">
                <label><input type="radio" [value]="true" formControlName="pereDecede"/> نعم</label>
                <label><input type="radio" [value]="false" formControlName="pereDecede"/> لا</label>
              </div>
            </div>
            <br>
            <ng-container *ngIf="etudiantForm.get('pereDecede')?.value">
            <div >
                <label class="block mb-1" >لقب الولي بالعربية</label>
                <input type="text"  formControlName="nomArPere"  class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
              </div>
              <div>
                  <label class="block mb-1" >لقب الولي بالفرنسية</label>
                  <input type="text"  formControlName="nomPere" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
              </div>
            <div>
              <label class="block mb-1">قرابته من الطالب</label>
              <input type="text"  formControlName="relationWithLEtudiant" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            </div>
            </ng-container>
          </div>
        </section>
  
        <!-- معلومات عامة -->
        <section class="animate-fade-in-up delay-400">
          <h2 class="text-xl font-semibold text-emerald-700 mb-4 border-b border-emerald-300 pb-1">معلومات عامة:</h2>
          <div class="space-y-3">
            <input type="text" formControlName="lastMosquee"  placeholder="في أي مسجد درس الطالب سابقًا؟" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            <input type="text" formControlName="quran"  placeholder="كم يحفظ من القرآن؟" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
            <input type="text" formControlName="nomEnseignent"  placeholder="من هو معلمه الحالي؟ وفي أي سنة؟" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" />
          </div>
        </section>

        <!-- Champ Code PIN -->
<!-- حقل كود PIN -->
<div class="mb-4">
    <label for="pin" class="block text-xl font-medium text-gray-700 mb-1">
      رمز الدخول (PIN) – مكون من 4 أرقام
    </label>
    <input
      id="pin"
      type="text"
      formControlName="codePin"
      maxlength="4"
      class="mt-1 block min-w-24 border border-emerald-300 rounded-lg p-2 shadow-sm"
      placeholder="مثال: 1234"
    />
    <p class="text-yellow-600 text-lg mt-1">
      ⚠️ الرجاء عدم نسيان رمز الـ PIN، فهو ضروري للوصول إلى بعض المعلومات الخاصة بك بالتفصيل لاحقاً.
    </p>
    <div *ngIf="etudiantForm.get('pin')?.invalid && etudiantForm.get('pin')?.touched" class="text-red-500 text-sm mt-1">
      رمز الدخول غير صالح (يجب أن يتكون من 4 أرقام فقط)
    </div>
  </div>
  
  

        <!-- معلومات عامة -->
        <section class="animate-fade-in-up delay-400">
            <h2 class="text-xl font-semibold text-emerald-700 mb-4 border-b border-emerald-300 pb-1">ملاحظات:</h2>
            <div class="space-y-3">
                <textarea formControlName="remarques"  id=""  rows="4" class="w-full border border-emerald-300 rounded-lg p-2 shadow-sm" id=""></textarea>
            </div>
          </section>
  
        <!-- تصريح ولي الأمر -->
        <section class="animate-fade-in-up delay-500">
          <h2 class="text-xl font-semibold text-emerald-700 mb-4 border-b border-emerald-300 pb-1">تصريح ولي الأمر:</h2>
          <p class="text-sm mb-2 text-gray-700">
            أنا الممضي أسفله السيد: <input type="text" class="border rounded p-1 w-48 inline-block" />
            ولي الطالب <input type="text" class="border rounded p-1 w-48 inline-block" />
            أصرح برغبتي في انضمام ابني إلى المدرسة القرآنية لمسجد النور، والالتزام بالنظام الداخلي.
          </p>
        </section>
  
        <!-- Signatures -->
        <!-- <div class="flex justify-between text-sm text-gray-600 mt-8">
          <span>إمضاء الولي</span>
          <span>مصادقة البلدية</span>
        </div> -->
  
        <!-- Submit button -->
        <div class="text-center mt-10">
          <button type="submit" class="bg-emerald-600 hover:bg-emerald-700 transition duration-300 text-white px-6 py-2 rounded-lg shadow-lg">إرسال</button>
        </div>
      </form>
    </div>
  </div>
  

  <div *ngIf="loading" class="fixed inset-0 bg-black bg-opacity-70 flex items-start justify-center z-50">
    <div class="flex flex-col items-center mt-32">
      <img
        src="assets/images/logo.jpg"
        class="w-24 h-24 animate-spin-slow mb-4 object-contain rounded-full border border-emerald-400 shadow-md"
        alt="Logo"
      />
      <p class="text-white text-4xl font-bold reem-kufi">...يــرجى الانتظار...</p>
    </div>
  </div>
  


</div>