<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
    <div class="md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
        <div class="w-full mx-0 md:mx-24">
            <!-- Logo -->
            <div class="w-full flex justify-between ">
                <img src="assets/images/logo/logo.png" alt="Logo" class="w-24">
                <!-- Title -->
                 <div>

                    <div dir="rtl" class="mt-8 text-4xl font-extrabold tracking-tight leading-tight reem-kufi">التسجيل</div>
                    <div dir="rtl" class="flex items-baseline mt-0.5 font-medium">
                    <div  class="reem-kufi text-gray-400 text-lg">ليس لديك حساب ?</div>
                    <a
                        class="ml-1 text-green-500 hover:underline"
                        [routerLink]="['/account/sign-up']">إنشاء حساب
                    </a>

                 </div>
            </div>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8 -mb-4"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign in form -->
            <form
                class="mt-8"
                [formGroup]="signInForm"
                #signInNgForm="ngForm">

                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>Email address</mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="signInForm.get('email').hasError('required')">
                        Email address is required
                    </mat-error>
                    <mat-error *ngIf="signInForm.get('email').hasError('email')">
                        Please enter a valid email address
                    </mat-error>
                </mat-form-field>

                <!-- Password field -->
                <mat-form-field class="w-full">
                    <mat-label>Password</mat-label>
                    <input
                        id="password"
                        matInput
                        type="password"
                        [formControlName]="'password'"
                        #passwordField>
                    <button
                        mat-icon-button
                        type="button"
                        (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="passwordField.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                    <mat-error>
                        Password is required
                    </mat-error>
                </mat-form-field>

                <!-- Actions -->
                <!-- <div class="inline-flex items-end justify-between w-full mt-1.5">
                    <mat-checkbox
                        [color]="'primary'"
                        [formControlName]="'rememberMe'">
                        Remember me
                    </mat-checkbox>
                    
                </div> -->

                <!-- Submit button -->
                <button
                    class="fuse-mat-button-large w-full mt-6"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signInForm.disabled"
                    (click)="signIn()">
                    <span *ngIf="!signInForm.disabled">
                        تسجيل الدخول
                    </span>
                    <mat-progress-spinner
                        *ngIf="signInForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>

                <button
                    class="fuse-mat-button-large w-full mt-6 bg-green-500 text-white reem-kufi hover:bg-green-700"
                    mat-flat-button
                    [color]="'secondary'"
                    >
                    <span >
                        العودة إلى الصفحة الرئيسية
                    </span>
                    
                </button>

                <!-- Separator -->
                <!-- <div class="flex items-center mt-8">
                    <div class="flex-auto mt-px border-t"></div>
                    <div class="mx-2 text-secondary">Or continue with</div>
                    <div class="flex-auto mt-px border-t"></div>
                </div> -->

                <!-- Single sign-on buttons -->
                <!-- <div class="flex items-center mt-8 space-x-4">
                    <button
                        class="flex-auto"
                        type="button"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'feather:facebook'"></mat-icon>
                    </button>
                    <button
                        class="flex-auto"
                        type="button"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'feather:twitter'"></mat-icon>
                    </button>
                    <button
                        class="flex-auto"
                        type="button"
                        mat-stroked-button>
                        <mat-icon
                            class="icon-size-5"
                            [svgIcon]="'feather:github'"></mat-icon>
                    </button>
                </div> -->
            </form>
        </div>
    </div>
    <div style="background-image: url('assets/images/back.jpg'); background-size: cover;" class="relative hidden md:flex  items-center justify-center w-1/2 md:h-[100vh] p-16 lg:px-28 overflow-hidden  dark:border-l">
        <div class="absolute inset-0 bg-gray-900 opacity-50"></div>
            <!-- Background - @formatter:off -->
            <!-- Rings -->
            <div class="absolute inset-0 pointer-events-none">
                <img src="assets/images/logo.jpg" alt="" class="absolute bottom-10 left-16 w-32 h-32 opacity-20 rounded-full">
            </div>
            <!-- Dots -->
            <div class="absolute inset-0 pointer-events-none">
               <img src="assets/images/logo.jpg" alt="" class="absolute  w-32 h-32 bottom-10 right-16 opacity-20 rounded-full">
            </div>
            <!-- @formatter:on -->
            <!-- Content -->
            <div class="z-10 relative w-full max-w-2xl">
                <div dir="rtl" class="text-7xl font-bold leading-none text-gray-100 text-center">
                    <div class="text-5xl reem-kufi">بــــسم الله الرحمـن الرحيم</div>
                    <div class="text-2xl reem-kufi mt-2">السلام عليكم</div>
                </div>
                <div class="mt-6 text-xl reem-kufi tracking-tight leading-6 text-gray-400 text-center">
                    مرحبا بكم في منصة الإدارة عن بعد، نحن هنا لمساعدتك في تحقيق أهدافك التعليمية. 
                </div>
                
            </div>
        </div>
    </div>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Reem+Kufi:wght@400..700&display=swap');
        .reem-kufi{
        font-family: "Reem Kufi", sans-serif;
        font-optical-sizing: auto;
      }
    </style>
    